@mixin max-width-table {
  max-width: 668px;
  margin-right: auto;
  margin-left: auto;
}

@mixin max-width {
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
}

@mixin wrapper-for-form {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 60px;
}

@mixin btn {
  padding: 15px 40px;
  background-color: $basecolor;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border: none;
}