.sections {
  background-color: #f5f5f5;
}

.wrapper {
  @include wrapper;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  //grid-auto-rows: 20px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 70px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: 0.5s;

  &:hover {
    filter:  contrast(0.5) brightness(1);
  }
}

.about {
  background-image: url('~static/img/sections_about.jpg');
}

.equipment {
  background-image: url('~static/img/sections_eq.jpg');
}

.services {
  background-image: url('~static/img/sections_services.jpg');
}

.works {
  background-image: url('~static/img/sections_works.jpg');
}

.item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0.8);
  text-shadow: 0 0 9px rgba(0,0,0,0.5);
  font-size: 30px;
  text-transform: uppercase;
  transition: color 1s;

  &:hover {
    color: #fff;
  }
}