.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  //background-color: $lightgray;
}

.wrapper {
  @include wrapper;
}


.logo {
  text-transform: uppercase;
  color: $black;
  font-weight: 300;
  font-size: 26px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
}

.item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  padding-left: 24px;
  font-weight: normal;
  a {
    color: $black;
    &:hover {
      color: $basecolor;
    }
  }
}

.item .menu_item.active {
  color: $basecolor;
}
